{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    .box {
        padding-top: 20px;
        margin: auto;
        width: 500px;
        height: 90vh;

        display: flex;
        flex-direction: column;
    }

    .canvas {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #myCanvas {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .text {
        font-size: 30px;
        /* height: 200px;
        margin-top: 10px;
        width: auto;
        background-color: bisque; */
    }

    .clearbutton {
        position: absolute;
        top: 50px;
        right: 150px;
    }
    </style>

</head>
<body>
    <div class="clearbutton">
        <input type="button" id="clear" value="Clear Drawing">
    </div>
    <div class="box">
        <div class="text">
        </div>
        <div class="canvas">
            <canvas id="myCanvas"></canvas>
        </div>
    </div>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    const ctx = canvas.getContext('2d');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var path;
    // var uid = Date.now() % 10000;

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var temparr = url.split("=");
    var uid = temparr[1];
    var username = temparr[2];
    var answers = ['sun'];
    console.log(temparr);

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
    
    var answer = answers[Math.floor(Math.random() * answers.length)];
    var messagetag = $("<p>" + "Let them guess this: " + "\"" + answer + "\"" + "</p>").addClass("actualText");
    $(".text").append(messagetag);
    socket.onopen = () => socket.send("{\"type\": " + "\"answer\"" + ", \"answer\": " + "\"" + answer + "\"" + "}");

    // tool.onMouseDown = function(event) {

    // }
    // tool.onMouseDrag = function(event) { //http://paperjs.org/reference/tool/ path examples
    //     // path.strokeColor = Color();
    //    path.add(event.point);
    //    // You may need to add code here if you want to pass any other information.
    //    socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + "}" );
    // }

    var lst = [];

    tool.onMouseDown = function(event) {
        path = new paper.Path();
        lst.push(path);
        path.strokeColor = Color(uid);
        path.strokeWidth = 5;
        path.add(event.point);
        // var sendjson = ""
        socket.send("{\"type\": " +  "\"draw\"" + ", \"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"newpath\": true" + ", \"username\": " + "\""+ username + "\"" + "}" );
	}

    tool.onMouseDrag = function(event) {
        path.add(event.point);
        socket.send("{\"type\" :" +  "\"draw\"" + ", \"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"newpath\": false" + ", \"username\": " +  "\""+  username +  "\"" +  "}" );
    }

    function Color(u) {
        var r = (u *3 + 12) % 255
        var g = (u *2+ 3) % 255;
        var b = (u *7+ 2) % 255;
        return "#" + r.toString(16) + g.toString(16) + b.toString(16);
    }

    $("#clear").on("click", function clear() {
        lst.forEach(element => element.remove());
        socket.send("{\"type\" : \"clear\"}");
    });


    // var idMap = new Map();
    // var alone = url.includes("size=small"); //笨
    // socket.onmessage = function(receivedMessage) {
    //     if (alone) {
    //         return;
    //     }
    //     var received = JSON.parse(receivedMessage.data);
    //     console.log("Received: " + JSON.stringify(received));
    //     // You will probably want to add some code here to draw more lines.
    //     var otherid = received["uid"];
    //     if (uid != otherid) {
    //         if (!idMap.has(otherid) || received["newpath"]) {
    //             var otherpath = new paper.Path();
    //             otherpath.strokeWidth = 5;
    //             otherpath.strokeColor = Color(otherid);
    //             idMap.set(otherid, otherpath);
    //         }
    //         otherpath = idMap.get(otherid);
    //         otherpath.add(new paper.Point(received["x"], received["y"]));
    //         // path.add();
    //     }
    // }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
